@font-face {
  font-family: "TT Lakes";
  src: url('../fonts/TTLakes-Regular.woff') format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "TT Bold";
  src: url("../fonts/TTLakes-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@media (min-width: 784px) {
  html {
    box-sizing: border-box;
  }
  body {
    min-width: 784px;
    min-height: 504px;
    overflow-x: hidden;
  }
}
@media (min-width: 1121px) {
  html {
    box-sizing: border-box;
  }
  body {
    min-width: 1121px;
    min-height: 535px;
    overflow-x: hidden;
  }
}
html {
  box-sizing: border-box;
}
body {
  min-width: 320px;
  overflow-x: hidden;
}

.header__inner {
  max-width: 320px;
  max-height: 88px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 18px 16px 17px;
  border-bottom: 1px #D9FFF5 solid
}
@media (min-width: 784px) {
  .header__inner {
    max-width: 760px;
    max-height: 88px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 18px 16px 17px;
    border-bottom: 1px #D9FFF5 solid
  }
}
@media (min-width: 1121px) {
  .header__inner {
    display: none;
  }
}

.header__navigation{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.navigation__button {
  display: inline-block;
  border: none;
  border-radius: 50%; 
  width: 40px; 
  height: 40px;
  background-color: #ff3e79;
  position: relative; 
}
.navigation__button:hover{
  opacity: 0.8;

}
.navigation__button:active{
  transform: scale(0.95);
}
.button__icon-burger {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20px; 
  height: 20px;
  background-image: url('/img/svg/humburger.svg');
  background-size: cover;
}

.header__menu{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.menu__button{
  display: inline-block;
  border: none;
  border-radius: 50%; 
  width: 40px; 
  height: 40px;
  background-color: #ff3e79;
  position: relative; 
}

.menu__button:hover{
  opacity: 0.8;

}
.menu__button:active{
  transform: scale(0.95);
}

.button__icon-call{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20px; 
  height: 20px;
  background-image: url('../img/svg/call.svg');
  background-size: cover;
}
.button__icon-chat{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20px; 
  height: 20px;
  background-image: url('../img/svg/chat.svg');
  background-size: cover;
}
.button__icon-people{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20px; 
  height: 20px;
  background-image: url('../img/svg/people.svg');
  background-size: cover;
}
.button__icon-repair{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20px; 
  height: 20px;
  background-image: url('../img/svg/repair.svg');
  background-size: cover;
}
.button__icon-checkstatus{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
  width: 20px; 
  height: 20px;
  background-image: url('../img/svg/checkstatus.svg');
  background-size: cover;
}


/*320px buttons*/
.menu__button:nth-child(1),
.menu__button:nth-child(2),
.menu__button:nth-child(3) {
display: none;
}
.button__icon-call,.button__icon-chat,.button__icon-people{
  display: none;
}

@media (min-width: 784px){
  .menu__button:nth-child(1),
  .menu__button:nth-child(2),
  .menu__button:nth-child(3) {
  display: block;
  }
  .button__icon-call,.button__icon-chat,.button__icon-people{
    display: block;
  }
}


.stick{
  margin-left: 5px;
  margin-right: 5px;
  position: relative;
  content: "";
  height: 32px;
  width: 2px;
  border: 2px #EAEAEA solid;
}
.stick-two{
display: none;
}
@media (min-width: 784px){
  .stick{
  display: none;
  }
  .stick-two{
    display: block;
    margin-left: 5px;
  margin-right: 5px;
  position: relative;
  content: "";
  height: 32px;
  width: 2px;
  border: 2px #EAEAEA solid;
  }
}


.first__title {
  font-family: TT Bold;
  font-size: 28px;
  border-left: thick solid #41f6d7;
  padding-left: 16px;
}
@media (min-width: 1121px) {
  .first__title-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .first__title-block {
    max-width: 1063px;
    min-height: 88px;
  }

}

.first__block {
  width: 320px;
  height: 509px;
}

.first__block__inner {
  width: 340px;
  background-color: #f8f8f8;
  position: relative;
  right: 7px;
}

@media (min-width: 784px) {
  .first__block__inner {
    width: 784px;
    background-color: #f8f8f8;
    position: relative;
    right: 7px;
  }
}
@media (min-width: 1121px) {
  .first__block__inner {
    width: 1121px;
    background-color: #f8f8f8;
    position: relative;
    right: 7px;
  }
}

.first__title-items{
  display: none;

}
.first__title-txt{
  display: none;

}
@media (min-width: 784px){
  .first__title-items{
    display: none;
    }
    .first__title-txt{
      display: none;
    }
}
@media (min-width: 1121px){
  .first__title-items{
    display: flex;
    flex-direction: row;
    gap: 8px;
    margin-left: 10px;
    }
    .first__title-txt{
    display: block;
    font-family: TT Lakes;
    font-size: 16px;
    width: 125px;
    height: 24px;
    line-height: 24px;
    }
}

.sliderMenu {
  width: 310px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 10px;
  cursor: pointer;
  user-select: none;
  overflow-x: scroll;
  position: relative;
  top: -24px;
}


.slider__item::-webkit-scrollbar {
  display: none;
}

.slider__item {
  width: 320px;
  font-family: TT Lakes;
  color: #7e7e82;
  min-width: 220px;
  height: auto;
  padding: 10px;
  overflow: hidden;
}

.slider__item:hover {
  border: 1px solid #b8ffec;
  transition: 3s #b8ffec;
}

@media (min-width: 784px) {
  .sliderMenu {
    width: 740px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 16px;
    cursor: pointer;
    user-select: none;
    overflow-x: scroll;
  }

  .slider__item::-webkit-scrollbar {
    display: none;
  }

  .slider__item {
    width: 320px;
    font-family: TT Lakes;
    color: #7e7e82;
    min-width: 220px;
    height: auto;
    padding: 10px;
    overflow: hidden;
  }

  .slider__item:hover {
    transition: transform 0.3s ease-in-out;
    transform: translate(3px);
    border-radius: 2px;
  }
  .slider__item:not(:hover) {
    transition: transform 0.3s;
  }
  .slider__item:nth-child(3) {
    min-width: 116px;
  }
}
@media (min-width: 1121px) {
  .sliderMenu {
    width: 1090px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 16px;
    cursor: pointer;
    user-select: none;
    overflow-x: hidden;
  }

  .slider__item::-webkit-scrollbar {
    display: none;
  }

  .slider__item {
    width: 320px;
    font-family: TT Lakes;
    color: #7e7e82;
    min-width: 220px;
    height: auto;
    padding: 10px;
    overflow: hidden;
  }

  .slider__item:hover {
    transition: transform 0.3s ease-in-out;
    transform: translate(3px);
    border-radius: 2px;
  }
  .slider__item:not(:hover) {
    transition: transform 0.3s;
  }
}

.recall__post {
  visibility: hidden;
}

.first__text {
  width: 288px;
  height: 90px;
  left: 16px;
  top: -64px;
  position: relative;
  font-family: TT Lakes;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.20000000298023224px;
  text-align: left;
}
.dop__text {
  visibility: hidden;
}
.dop__text-two {
  visibility: hidden;
}
@media (min-width: 784px) {
  .first__text {
    width: 312px;
    height: 160px;
    left: 20px;
    top: -68px;
    position: relative;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }
  .dop__text {
    visibility: visible;
  }
  .dop__text-two {
    visibility: hidden;
  }
  .recall__post {
    visibility: hidden;
  }
}

@media (min-width: 1121px) {
  .first__text {
    width: 490px;
    height: 160px;
    left: 34px;
    top: -40px;
    position: relative;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.20000000298023224px;
    text-align: left;
  }
  .dop__text {
    visibility: visible;
  }
  .dop__text-two {
    visibility: visible;
  }
  .recall__post {
    width: 71px;
    height: 24px;
    font-family: TT Lakes;
    font-size: 16px;
    position: relative;
    left: 57px;
    top: -22px;
    display: inline-block;
    visibility: visible;
    color: #7e7e82;
  }
}

.read__more {
  width: 320px;
  min-height: auto;
  display: flex;
  align-items: center;
  position: relative;
  left: 16px;
  top: -65px;
}

.read__more-button {
  font-family: TT Lakes;
  font-size: 16px;
  font-weight: bold;
  position: relative;
  left: 8px;
  border: none;
  background: none;
}

.read__more::before{
content: '';
width: 24px;
height: 24px;
border: none;
background-image: url("../img/svg/expand.svg");
background-repeat: no-repeat;
background-position: 50%;
background-color: #f8f8f8;
}
@media (min-width: 784px) {
  .read__more {
    width: 320px;
    min-height: auto;
    display: flex;
    align-items: center;
    position: relative;
    left: 17px;
    top: -87px;
  }
  .read__more-button {
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 8px;
    border: none;
    background: none;
  }
  
  .read__more::before{
  content: '';
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../img/svg/expand.svg");
  background-repeat: no-repeat;
  background-position: 50%;
  background-color: #f8f8f8;
  }
}
@media (min-width: 1121px) {
  .read__more {
    width: 320px;
    min-height: auto;
    display: flex;
    align-items: center;
    position: relative;
    left: 32px;
    top: -62px;
  }

  .read__more-txt {
    font-family: TT Lakes;
    font-size: 16px;
    font-weight: bold;
    position: relative;
    left: 8px;
  }
}



.img__inner-item {
  width: 320px;
  height: 176px;
  position: relative;
  top: -54px;
}
@media (min-width: 784px) {
  .img__inner-item {
    width: 360px;
    height: 259px;
    position: relative;
    top: -265px;
    left: 384px;
    border-radius: 10px;
  }
}
@media (min-width: 1121px) {
  .img__inner-item {
    width: 531px;
    height: 307px;
    position: relative;
    top: -275px;
    left: 540px;
    border-radius: 10px;
  }
}
